.VotePage{
    margin-top: 5%;
}


.VoteIntro{
    width: 70%;
    font-family: var(--font-main);
    display: block;
    margin : 0 auto;
    text-align: justify;
    font-size: medium;
}

.CandidateList{
    width: 80%;
    margin : 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.Checkbox{
    margin: 1em auto;
    text-align: center;
}

.ButtonVoteConfirm{
    width: 100px;
    display: block;
    background-color: #000099;
    color: white;
    font-size: 20px;
    font-family: var(--font-main);
    border : none;
    text-align: center;
    text-decoration: none;
    margin : 0 auto;
    padding: 10px;
    margin-bottom: 2em;
}

