.VotePage{
    margin-top: 5%;
}


.VoteIntro{
    width: 70%;
    font-family: var(--font-main);
    display: block;
    margin : 0 auto;
    text-align: justify;
    font-size: medium;
}

.CandidateList{
    width: 80%;
    margin : 5em auto;
    display: flex;
    flex-wrap: wrap;
}

.cardtest{
    margin : 2em;
}

.Checkbox{
    margin: 1em auto;
    text-align: center;
}
