.CardContainer{
    display : flex;
    flex-direction: column;
    width : 60%;
    min-width: 50%;
    margin: 1em auto;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em 0;
}

.CardTitle{
    text-align: center;
    font-family: var(--font-main);
    font-size: larger;
    font-weight: bold;
}

.CardPicture {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}

.PictureContainerHome{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin : 1em auto;

}

.CardExplain{
    font-family: var(--font-main);
    font-size: medium;
    text-align: justify;
    width : 80%;
    margin: 1em auto;

}
