.CardContainer{
    display : block;
    width : 70%;
    margin: 0 auto;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height : 80%;
    overflow: hidden;
}

.CardTitle{
    text-align: center;
    font-family: var(--font-main);
    font-size: larger;
    font-weight: bold;
}

.CardPicture {
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    padding : 1em;
}

.CardExplain{
    font-family: var(--font-main);
    font-size: small;
    text-align: justify;
    width : 80%;
    height: 80%;
    margin: 1em auto;
    margin-bottom: 5em;
}
