.CardContainer{
    display : block;
    width : 60%;
    min-width: 50%;
    margin: 1em auto;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height : auto;
    padding: 2em 0;
    overflow: hidden;
}

.CardTitle{
    text-align: center;
    font-family: var(--font-main);
    font-size: larger;
    font-weight: bold;
}

.CardPicture {
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    padding : 1em;
}

.CardExplain{
    font-family: var(--font-main);
    font-size: medium;
    text-align: justify;
    width : 80%;
    height: auto;
    margin: 1em auto;

}
