body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
}

@font-face {
  font-family: 'Mariane';
  src: url('./Assets/fonts/Marianne-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-main : Mariane, sans-serif;
}

/**
HEADER
 **/
.header {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;}

@media only screen and (max-width: 660px){
  .header{
    height: 75px;
  }
}

.logo {
  width: 15%;
  height: 15%;
  margin-left: 5%;
  margin-top : 1%;
  margin-bottom: 20px;
}


@media only screen and (max-width: 660px){
  .logo{
    width: 20%;
    height: 20%;
    margin-left: 5%;
    margin-top : 20px;
    margin-bottom: 5px;
  }
}



.button_vote {
  float: right;
  font-size: 20px;
  width: 100px;
  padding:10px;
  background-color: #000099;
  color: white;
  font-family: var(--font-main);
  margin-right: 5%;
  margin-top : 2vw;
  border : none;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .button_vote {
    float: right;
    font-size: medium;
    overflow: hidden;
    background-color: #000099;
    color: white;
    font-family: var(--font-main);
    border: none;
    text-align: center;
    text-decoration: none;
  }
}

.title{
  font-size: larger;
  font-family: var(--font-main);
  display: block;
  margin: 3em auto;

}

/**
FOOTER
 **/

.text_footer{
  text-align: center;
}
